*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrapper {
    background: #ebf4f7;
    width: 70%;
}

.navigation {
    display: block;
    background: #d9f2fa;
   /* position: absolute;
    left: 15%;
    Top: 15%;*/
   /* transform: translat. (-10%, -10%);*/
    list-style-type: none; /* чтоб небыло точек возле списка */
    margin: 50px; /* отступ от внешних элементов */
    padding: 0; /* отступ самого элемента от границы */
}

.navigation li {
    display: inline; /* расположение элементов в линию */
    background-color: #686882;
    color: white; /* цвет текста */
    padding: 10px; /* отступы внутри каждого элемента */
}

/* добавить адаптивную верстку для мобильного устройства */

