{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EYE | {{ additional_title }}</title>
    <link rel="stylesheet" href="{% static 'style/css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <ul class="navigation">
            <li><a>Главная</a></li>
            <li><a>Интернет магазин</a></li>
            <li><a>Прайс</a></li>
            <li><a>О нас</a></li>
            <li><a>Контакты</a></li>
        </ul>
    </div>
{% block content %}
{% endblock %}
</body>
</html>
